<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HopperWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MenuRubrica</display-name>
    <servlet-name>MenuRubrica</servlet-name>
    <servlet-class>it.beije.hopper.web.rubrica.MenuRubrica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuRubrica</servlet-name>
    <url-pattern>/MenuRubrica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StampaRubrica</display-name>
    <servlet-name>StampaRubrica</servlet-name>
    <servlet-class>it.beije.hopper.web.rubrica.StampaRubrica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StampaRubrica</servlet-name>
    <url-pattern>/StampaRubrica</url-pattern>
  </servlet-mapping>
</web-app>